@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1f5a4f;
}

::-webkit-scrollbar-thumb {
  background: #179f87;
}

::-webkit-scrollbar-thumb:hover {
  background: #138b75;
}

.player::-webkit-slider-thumb {
  width: 0;
  height: 15px;
  appearance: none;
  border-radius: 50%;
  background: #179f87;
  -webkit-appearance: none;
  box-shadow: -600px 0 0 600px #179f87;
}